header {
	/*background-color: #9fb0cb;*/
	/*background: linear-gradient(to right,#051d46 0,#1d3f6f 100%);*/
	background: linear-gradient(to right,#051d46 0,#345f9b 100%);
	color: #fff;
}

main {
	min-height: 100vh;
}

.square {
	background-color: orange;
	border: #000 2px solid;
	border-radius: 10%;
	height: 250px;
	width: 250px;
}