* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #232323;
	font-family: Lato;
	font-weight: 400;
	letter-spacing: 2px;
}

header {
	/*background-color: #9fb0cb;*/
	/*background: linear-gradient(to right,#051d46 0,#345f9b 100%);*/
	background: -webkit-gradient(linear,left top, right top,color-stop(0, #051d46),to(#345f9b));
	background: -webkit-linear-gradient(left,#051d46 0,#345f9b 100%);
	background: -o-linear-gradient(left,#051d46 0,#345f9b 100%);
	background: linear-gradient(to right,#051d46 0,#345f9b 100%);
	color: #fff;
	padding: 40px 0;
	text-align: center;
}

h1 {
	margin: 0;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.25;
}

#colorDisplay {
	font-size: 200%;
}

.messageBoard {
	background: linear-gradient(to right,#9b9b9b 0,#efefef 100%);
	color: #051d46;
	/*padding: 15px 0;*/
	height: 30px;
	text-align: center;
}

#message {
	display: inline-block;
	width: 20%;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #051d46;
	letter-spacing: 1px;
	font-size: inherit;
	padding: 0 5px;
	outline: none;
	transition: all 0.2s;
}

button:hover {
	cursor: pointer;
	background-color: #9fb0cb;
	color: #fff;
}

.selected {
	background-color: #9fb0cb;
	color: #fff;
}

#container {
	margin: 40px auto 0 auto;
	max-width: 600px;
}

.square {
	/*background-color: orange;*/
	/*border: #000 2px solid;*/
	border-radius: 10%;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

.square:hover {
	cursor: pointer;
}